  :root {
  --principal: #5b091a;
  --secundario: goldenrod;
  --terciario: white;
  --alternativo: #ddd;
  --demo:royalblue;
}


  *{box-sizing:border-box}
    body {
      background-color: var(--terciario);
 	margin:0;
 	padding:0;
    }
    
    #banderas{position:absolute; top:5%; right: 5%; font-size: 24px; cursor:pointer;z-index:1000; display: flex;gap:1vw}

    #fondo{z-index:-1; position:absolute; right:0; max-width:50vw; top:calc(50% - 25vw); opacity:calc(0.075);}
    
    
    main{ display: grid;
      grid-template-columns: 200px 1fr;
      margin:0;padding:0;}

header{position:absolute; height:100px;z-index:1; background:var(--principal);
display:flex;justify-content:center; flex-direction:column; gap:0;
align-items:center;left:0;top:10px; width:99%; max-width:700px;}


h1{font-weight:normal;font-family:serif;color:var(--secundario); margin:0;
font-size:36px; padding:0}
header p{color:var(--alternativo);font-size:24px;margin:0;padding:0}

header p:nth-child(3){display:none}
header:hover p:nth-child(2){display:none}
header:hover p:nth-child(3){display:block}

#Portfolio, section {margin:0; padding:0}

    aside {position:relative;
       font-family: Geneva, Arial, Helvetica, sans-serif;
       background-color:var(--secundario);
       margin:0;
 	padding:100px 3.5% 0.75em;
    }


    aside p, aside h3 {
      font-size: 12px;
      margin:0;
    }
    
    aside a {width:100%; text-align:center; display:block; padding: 1em 0; color:var(--principal);
    }
    
    aside a:hover{background-color:var(--principal);color:var(--secundario);
    text-decoration:none }

   /*   aside a i {background-color: var(--principal); color:var(--secundario); padding: 1px 3px;}*/

    
      #printArea a:hover{background-color:var(--secundario);color:var(--principal);}


    hr{color:var(--principal);  height:1.2px;background:#5b091a;border:none}
    
    h2{display:none}
    


    #Portfolio {
    margin:100px 0 calc(.5vh + .5vw);
    padding-top: calc(.5vh + .5vw);

    }
    section{width:minmax(200px,40%);padding:18px 36px 0;}

    #Portfolio h2 {
      font-size: 24px;
    }

    #Portfolio h3 {
      font-size: 20px;
    }
    
    
    #Portfolio section h4{margin-bottom:0; font-weight:normal;}
     h4 em::after{content:' -'} 
      
      
    #Portfolio section p{margin-top:0; max-width:600px}
    




    ul{padding-left:1em; margin-bottom:0;} /*conocimientos y formación*/

    #experiencias{padding: 0;text-indent: 0;list-style-type: none;}
    
    aside ul{
   
      padding:1em;
      padding-bottom:0;
      display: block;
      font-size:12px;
      
    }
    
   aside ul li{padding-bottom:2em; visibility:hidden}
   aside ul  li strong, li b{visibility:visible}
    aside ul li br{margin:0 0 0.5em;}
    
    aside h3{ color:var(--principal); margin-top:2em}
    
    li:hover{visibility:visible}
    
    
    strong{font-weight:normal;  color:var(--principal)}
    
     a {text-decoration:none;}
   a:hover, a:active{text-decoration:underline;   color: var(--principal);}
    p a {color:var(--principal);}
p a:first-child {color:var(--demo);}

.noshow{display:none}


@media (min-width:821px){
.periodo::before{content:'('}
.periodo::after{content:')'}
}

@media (max-width:820px) {aside ul li{visibility:visible}

.periodo{display:block}
span.noprint, span a {display:inline}

section p span {margin:0.25em 0}
}


@media (max-width:500px) {#fondo{display:none}
   main{           display: flex;
      flex-direction:column-reverse; gap:36px}
    	aside{padding-top:0}
    	#contacto{margin-top:0}
    	
    	header p:nth-child(2){display:none}
	header p:nth-child(3){display:block}

  #banderas{flex-direction: column; ; gap:8px}
      }

    
      @media (max-width:400px)  {  #banderas{top:10px; right:4%; width:92%; flex-direction: row ; justify-content: space-between;}}
 
    @media (max-width:320px) {  *{font-size:1em!important}
    section:last-child, aside div{display:none}
    #banderas{display:none}
  }

  @media print {

.noprint, #banderas span  {display:none!important;}

.noshow{display:block}

  a{
    margin:0.25em 0;
  }
  a:after {
    content: ": "attr(href);
  }

main{display: flex; flex-direction: column-reverse; justify-content: space-between}
header {display: block;background: var(--terciario);}
h1{color:var(--principal);}
header p{color:black}
header p:nth-child(3){display:block;font-style: italic;}
header p{display: inline!important; text-transform: lowercase;}
header p:nth-child(3)::before{content: "| ";}
#printedStack{display: block!important; font-weight: bold; font-style: italic;}

#Portfolio {display:flex; flex-wrap: wrap;}
#Conocimientos{margin-top:0; margin-bottom: 2px;}
 #Conocimientos h3 {display: none}
#Conocimientos ul {display: flex; list-style-type: none; font-size: 1.2em; margin:0;padding: 0; gap:1em;
  justify-content: space-between; font-style:italic;}
 #Conocimientos li:last-child:after{content:''}
 #Experiencia h3{margin-bottom:0;padding-bottom:0}
#experiencias{display: flex; gap:15%; width:90vw; margin:0}


/*
#Portfolio {display:flex; flex-wrap: wrap;}
#Proyectos {min-width: 100%;}
 #Portfolio section:not(#Proyectos){width: 55%}
*/


 h3{margin-top: 2em}
 #Proyectos h4{font-weight: bold; margin-bottom: 1em}
 #Proyectos h4:before{content:'➤ '; color:var(--principal);}
h4 strong {color:black; font-style: italic;}
  p a {display: block}




  aside {display: flex; flex-direction: column; justify-content: flex-start; padding:0;margin-top:0; background: var(--terciario);}
  aside h3{font-size: 16px;}
    aside hr {display: none}
    #formacion{display: flex; flex-direction: row-reverse;}
    #formacion li {max-width: 32%;}
  
  main,section, footer,article,p {margin:0; padding: 0}
  aside ul {display: flex; gap: 2em }
  body:after{content: 'nachocorbillon.github.io';color: var(--demo);font-style: italic; position: absolute; right:1.27cm; bottom: 1cm}

}